<?php
// ** Configurações do MySQL - Você pode pegar estas informações
// com o serviço de hospedagem ** //

$host       = DB_HOST;
$password   = DB_PASSWORD;
$user       = DB_USER;
$db         = DB_NAME;

//efetua conecção no db e retona o acesso para variavel $link
error_reporting(E_ERROR | E_PARSE);
$link = mysqli_connect($host, $user, $password, $db);

function config($link, $config_name){
  if(!$link){
    mysqli_close($link);
    logoff("index.php?erro=dbconection");
  }else{
    $sql = "SELECT `config_value` FROM `config_site` WHERE config_name='" . $config_name . "'";
    $sql = mysqli_query($link, $sql);
    if(isset($sql)){
      $rs  = mysqli_fetch_array($sql);
    }else{
      $rs['config_value'] = false;
    }
  }
  return $rs['config_value'];
}

/** Configuração do Charset */
define('CHARSET', config($link, 'CHARSET'));

/** chave para criptografia */
define('KEY', config($link, 'KEY'));

/** Nome da Empresa */
define('ORGANIZATION_NOME', config($link, 'ORGANIZATION_NOME'));

/** URL */
define('SITE_URL', config($link, 'SITE_URL'));

/** Tempo de login */
define('TIMEACCONT', config($link, 'TIMEACCONT'));

/** TimeZone de login */
define('TIMEZONE', config($link, 'TIMEZONE'));

/** TimeZone de login */
define('__ROOT__', str_replace("\\src", "", dirname(dirname(__FILE__))));


/** TimeZone de login */
define('SYSTEM_NAME', config($link, 'SYSTEM_NAME'));

/** TimeZone de login */
define('IP_USER', $_SERVER['REMOTE_ADDR']);

$check = mysqli_close ($link);

if($check === FALSE){
logoff("index.php?erro=dbconection&e=close");
}

?>
