<?php
// ** Configurações do MySQL - Você pode pegar estas informações
// com o serviço de hospedagem ** //

/** Configuração do Charset */
define('CHARSET', 'utf-8');

/** chave para criptografia */
define('KEY', 'NEPO');

/** Nome da Empresa */
define('ORGANIZATION_NOME', 'Núcleo de Estudos de População "Elza Berquó" (Nepo)');

/** Nome da Empresa */
define('SITE_URL', 'http://localhost/NEPO-Certificado/');

?>
